extends ../templates/default/_template

block SEO
    +meta('keywords', '')
    +meta('description', '')
    title Title for main page

block header
    include ../components/header/logo
    include ../components/header/menu
    include ../components/header/panel

block content
    include ../components/main-block
    include ../components/ratings
    include ../components/tariffs
    include ../components/advantages
    include ../components/domain
    include ../components/clients-reviews
    include ../components/presents

block footer
    include ../components/footer/logo-socials
    include ../components/footer/menus